body {
  font-family:Arial
}

#top {
  text-align: center;
}

#logo {
  color: white;
  background-color: rgb(0, 136, 0);
  display: inline-block;
  font-size:32px;
  font-weight: bold;
  padding:8px;
  margin-top: 16px;
}

#logo-name {
  font-size: 32px;
  font-weight: bold;
  margin:8px
}

#navigation a {
  color: gray;
  padding: 8px;
}

#navigation a:hover {
  color: rgb(0, 136, 0);
}



#image img {
  width: 75%;
  margin-top: 16px;
  margin-bottom: 16px;
}




#main {
  width: 800px;
  margin: auto;
}



h2 {
  text-align: center;
}
